/* 
Reproduce the following 3 layouts with the same HTML structure: 
the purple items should have fixed size
the yellow area should fill all available horizontal space
the yellow area should have a fixed height
*/

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 300px;
  background-color: yellow;
  display: flex;
  justify-content:flex-start;
  margin: 0;
  padding: 0;
}

.item {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  background-color: purple;
  align-self: center;
  list-style-type: none;
}