/* 
The layout should be centered on the page.
The layout should have fixed width.
When picking the semantically correct element, consider the roles of the boxes:
Purple: Header
Cyan: Navigation links
Yellow: Main Content
Green: Sidebar (not main content)
*/

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

main {
  width: 600px;
  height: 100%;
  border: 1px solid navy;
  overflow: hidden; 
}

.header {
  width: 100%;
  height: 60px;
  background-color: purple;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav .item {
  height: 25px;
  margin: 10px;
  background-color: turquoise;
  list-style-type: none;
  display: flex;
  justify-content: row;;
}

.item#first {
  width: 100px;
}

.item#second {
  width: 50px;
}

.item#third {
  width: 70px;
}

.content {
  width: 97%;
  display: flex;
  margin: 10px;
  padding: 0px 20px 0px 20px;
  flex-wrap: wrap;
}

.content .left-sidebar {
  width: 28%;
  height: 400px;
  margin-right: 10px;
  background-color: lime;
}

.content .right-main {
  width: 70%;
  height: 400px;
  background-color: yellow;
}

.footer {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  background-color: grey;
}
