.container {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.item {
  width: 200px;
  height: 200px;
  align-self:flex-end;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}