/* the container should have a fixed width
the items should fill all available horizontal space
the yellow item should be twice as tall as the side items */


.container {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.item {
  width: 100%;
  height: 60px;
}

.green {
  background-color: green;
  order: 1;
}

.yellow {
  background-color: yellow;
  height: 120px;
  order:3
}

.purple {
  background-color: purple;
  order: 2;
}