.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item {
  width: 20%;
  height: 200px;
}

.green {
  width: 20%;
  background-color: green;
}

.yellow {
  background-color: yellow;
  width: 60%;
}

.purple {
  width: 20%;
  background-color: purple;
}