/* 
Purple li items justify content: flex-end, align-items: flex-end
Purple li items are in the right corner bottom of the yellow container
Margin of the li items: margin-left: 10px;
*/

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 300px;
  background-color: yellow;
  display: flex;
  justify-content:flex-end;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}

.item {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  background-color: purple;
  list-style-type: none;
}